/* 共通項目 */
.kiwi {
    font-family: 'Kiwi Maru', serif;
}
.noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    height: 200px;
}
.box {
    margin-top: 100px;
}
#back {
	margin: 0;
    padding-top: 100px;
	color:#000000;
	background:#c8c8c8;
	background:url("../images/back-B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90rem;
}
.condition {
    background-color: rgb(245, 245, 220,0.8);
    border-radius: 1rem;
    margin: 0 20px;
    padding: 1rem 0;
}
.avatar {
    height: 50px;
    border-radius: 50%;
}
