/* 共通部分 */
.image {
    max-width: 100%;
}
.wrapper{
    width: 100%;
}

/* ヘッダー */
#header1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:0 150px;
    height: 85px;
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    z-index: 100;
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    align-items: center;
    background-color: white;
    border-bottom: 2px solid rgb(206, 206, 206);
}
.header-logo {
    height:83px;
}
.header-ul {
    display: flex;
    margin-top: 1rem;
    list-style: none;
}
.header-a {
    color:black;
}

/* フッター */
#footer1 {
    position: relative;
    height: 75px;
    background-color: white;
    border-top: 2px solid rgb(206, 206, 206);
}
.footer-p {
    position: absolute;
    top: 30px;
    left: 175px;
    font-family: 'Kiwi Maru', serif;
}
.footer-logo {
    width: 150px;
    margin-left: 162px;
}
