/* メイン */
.home-top {
    background-image: url("../images/back-A.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-color: #dcdcdc;
    text-align: center;
    height: 850px;
}
.home-top h3 {
    font-family: "Arial", sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin: auto;
    padding: 150px 0 5px 0;
    color: white;
    display: inline-block;
    background: linear-gradient(90deg, #fff0ff, #e8ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-top h1 {
    font-family: "ＭＳ 明朝",serif;
    font-size: 55px;
    font-weight: bold;
    margin: auto;
}
#cloud-box {
    position: relative;
}
.cloud, .fontA, .fontB {
    position: absolute;
}
.font {
    width: 320px;
    height: 65px;
    object-fit: cover;
    object-position: 0 100%;
    transform: rotate(-10deg);
}
.cloud {
    z-index: 0;
    right: 0%;
    top: 100px;
    opacity: 0.9;
}
.fontA {
    z-index: 10;
    right: 6%;
    top: 315px;
}
.fontB {
    z-index: 20;
    right: 3.25%;
    top: 360px;
}

.home-center {
    background-image: url("../images/back-B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    height: 820px;
    position: relative;
}
.home-parts, .people {
    position: absolute;
}
.opacity-1 {
    background: rgb(255, 255, 255, 0.325);
    height: 820px;
}
.home-parts {
    display: inline-block;
    background:rgb(255, 255, 255, 0.9);
    border-radius: 30px;
    border: 2px solid #000;
    padding: 10px 20px;
    width: 900px;
    height: 200px;
    text-align: left;
}
.people {
    border-radius: 50%;
    object-fit: none;
    width: 180px;
    height: 180px;
}
.people1, .people2 {
    z-index: 30;
    object-position: 67% 12%;
    transform: scale(-1, 1);
}
.people1 {
    top: 10%;
    left: 12%;
}
.people2 {
    top: 48%;
    left: 12%;
}
.people3 {
    z-index: 25;
    object-position: 35% 18%;
    top: 48%;
    left: 21%;
}
.people4 {
    z-index: 20;
    object-position: 48% 25%;
    top: 48%;
    left: 30%;
}
.people5 {
    z-index: 15;
    object-position: 55% 12%;
    top: 48%;
    left: 39%;
}
.parts1 {
    z-index: 10;
    top: 7%;
    left: 28%;
}
.parts2 {
    z-index: 10;
    top: 66%;
    left: 28%;
}
.home-parts h3 {
    margin: 33px 0 22px 10px;
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;
}
.home-parts p {
    margin-left: 70px;
    /* margin-right: 70px; */
    font-size: 20px;
    font-family: 'Kiwi Maru', serif;
}

.home-bottom {
    margin-top: 60px;
    background-color: white;
    height: 1400px;
}
.home-bottom h1 {
    font-size: 72px;
    font-weight: 100;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'クレー', sans-serif;
}
.worry-box {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.gan {
    position: absolute;
    width:100px
}
.gan1 {
    top: 11%;
    left: 48%;
}
.gan2 {
    top: 40%;
    left: 37%;
}
.gan3 {
    top: 68%;
    left: 48%;
}
.worry {
    margin-top: 160px;
    width: 450px;
}
.worry-block {
    display: inline-block;
    background: #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 42px;
    width: 400px;
    height: 150px;
    text-align: left;
}
.worry-block p {
    color: white;
    font-size: 22px;
    margin: 20px 0 0 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.worry-block h3 {
    color: #FAFF00;
    font-size: 28px;
    margin: 15px 0 0 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.worry-parts {
    padding-left: 50px;
}
.worry-1 {
    margin-top: 25px;
    margin-left: 100px;
}
.worry-3 {
    margin-left: 100px;
}
.home-logo {
    height: 150px;
}
.worry-solution {
    padding-top: 275px;
    text-align: center;
    position: relative;
}
.worry-solution p {
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}
.solution-parts {
    position: absolute;
    top: 40%;
    left: 29%;
    display: flex;
    /* margin-left: 400px; */
}
.solution-parts p {
    margin-top: 2rem;
}

.wo-bo {
    margin: auto;
}

.use-container {
    background-image: url("../images/back-C.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 5em 0;
}
.use-back {
    width: 82%;
    height: 3200px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 70px;
    font-family: 'Kiwi Maru', serif;
}
.title-1 {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.title-2 {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    font-size: 45px;
    margin-top: 175px;
    margin-bottom: 60px;
}
.title-3 {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    font-size: 45px;
    margin-top: 200px;
    margin-bottom: 120px;
}
.use-box {
    width: 100%;
    display: flex;
    margin: auto;
}
.use-img {
    width: 50%;
    height: 300px;
    object-fit: contain;
    padding: auto;
}
.use-text {
    width: 50%;
    padding: 50px;
    font-size: 28px;
    display: grid;
    place-items: center;
}
.arrow {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    font-size: 100px;
    margin: auto;
}
.start-btn {
    width: 275px;
    background-color: #8CE363;
    border-radius: 5px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.3);
    color: #4b4b4b;
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 15px 0;
}
.start-btn:hover {
    box-shadow: none;
    transform: translate3d(0, 6px, 0);
}

/* お問い合わせ & 新規会員登録 */
.inquiry-new-user {
    width: 63%;
    margin: 175px auto 75px auto;
    font-size: 32px;
}
.surely {
    margin-left: 20px;
    font-weight:600;
    color: red;
}
.optional {
    margin-left: 20px;
    font-weight:600;
    color: rgb(179, 179, 179);
}
.stepBar {
    display: flex;
    width: 87%;
    padding: 0 40px;
    position: relative;
    margin: auto;
    text-align: center;
}
.stepBar li {
    font-size: 24px;
    list-style: none;
    position: relative;
    width: calc(100% / 3);
}
.stepBar li:after {
    background: #FFBDBD;
    content: "";
    width: calc(100% - 48px);
    height: 8px;
    position: absolute;
    left: calc(-50% + 24px);
    top: 20px;
}
.stepBar li:first-child:after {
    display: none;
}
.stepBar li span {
    background: #FFBDBD;
    color: #ffffff;
    display: inline-block;
    height: 48px;
    margin-bottom: 5px;
    line-height: 48px;
    width: 48px;
    border-radius: 50%;
}
.stepBar .visited:after {
    background: #FF6D6D;
}
.stepBar .visited span {
    background: #FF6D6D;
}
.stepBer-color li:after {
    background: #B0C6FF;
}
.stepBer-color li span {
    background: #B0C6FF;
}
.stepBer-color .visited-color:after {
    background: #3C72FF;
}
.stepBer-color .visited-color span {
    background: #3C72FF;
}

form {
    font-size: 20px;
}
.inquiry-1 {
    height: 1000px;
    width: 60%;
    margin: 0 auto;
}
.inquiry-2 {
    height: 1000px;
    width: 60%;
    margin: 0 auto;
}
.new-user-1 {
    height: 775px;
    width: 60%;
    margin: 0 auto;
}
.new-user-2 {
    height: 625px;
    width: 60%;
    margin: 0 auto;
}
.form-sex {
    height:30px;
    padding-bottom: 55px;
    margin-top: 90px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(206, 206, 206);
}
.label-sex {
    float: left;
}
.form-sex p {
    float: left;
    margin: 0 0 0 80px;
}
.dot-icon::before {
    content: "";
    background-image: url("../images/dots.png");
    background-size: contain;
    display: inline-block;
    margin-right: 1em;
    margin-top: 1.5px;
    width: 0.95em;
    height: 0.95em;
    vertical-align: text-top;
}
.input-sex input {
    margin-left: 60px;
}
.input-sex input:first-child {
    margin-left: 80px;
}
.input-sex label {
    margin-left: 10px;
}
.form-mail {
    padding-bottom: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-bottom: 2px solid rgb(206, 206, 206);
}
.form-pass {
    margin-bottom: 90px;
    overflow: hidden;
}
.form-margin-top {
    margin-top: 90px;
}
.mail-pass-box {
    width: 85%;
    margin: 40px auto 0 auto;
}
.mail-pass-box p {
    margin: 0 0 10px 0;
    font-size: 18px;
}
.inquiry-1 input[type="email"],
.new-user-1 input[type="email"],
.new-user-1 input[type="password"] {
    width: 70%;
    padding: 5px 10px;
    border: 2px solid black;
    font-size: 20px;
}
.form-textarea {
    margin-bottom: 90px;
}
.textarea-box {
    width: 90%;
    margin: 10px auto 0 auto;
}
.textarea-box textarea {
    resize: none;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 10px 10px;
    border: 2px solid black;
    font-size: 20px;
}
.textarea-box textarea::placeholder {
    color: rgb(179, 179, 179);
    font-weight: 100;
}
.form-btn {
    width: 200px;
    background-color: #FF6D6D;
    border-radius: 2px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.5);
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 15px 0;
}
.form-btn:hover {
    box-shadow: none;
    transform: translate3d(0, 6px, 0);
}
.form-btn-color {
    background-color: #3C72FF
}
.button-none {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
}
.completion {
    height: 320px;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
}
